[project]
name = "zope-setup"
version = "1.0.0"
dependencies = [
    "plone.app.caching",
    "plone.app.upgrade",
{% for addon in plone_addons %}
    "{{addon}}",
{% endfor %}
]
requires-python = ">=3.11.1"


[tool.uv]
constraint-dependencies = []