# A Zope / Plone / UV setup


## Start Zope instance

```sh
inv start
```


## open the browser

http://localhost:8080/

## Update the Copier template

You can update your configuration, when the template has changes.

```sh
copier update --trust
```

or without the answering the questions again:

```sh
copier update --defaults --trust
```