%define INSTANCE {{ dst_path | realpath }}/zeo_server

<zeo>
  address {{zeo_server_address}}
  read-only false
  invalidation-queue-size 100
  pid-filename $INSTANCE/var/zeoserver.pid
</zeo>

<filestorage 1>
  path $INSTANCE/var/Data.fs
  blob-dir $INSTANCE/var/blobstorage
  pack-keep-old true
</filestorage>

<eventlog>
  level info
  <logfile>
      path $INSTANCE/var/log/zeo.log
      format %(asctime)s %(message)s
    </logfile>
</eventlog>
